@using HotelWebDemo.Models.Database

@model List<RoomReservation>

@{
    Layout = "_FieldsetLayout";
    ViewData["Legend"] = "Active reservations";
}

@if (Model.Any())
{
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>#</th>
                <th>Check-in date</th>
                <th>Check-out date</th>
                <th>Booking#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (RoomReservation r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Booking?.CheckinDate.ToString("dd.MM.yyyy")</td>
                    <td>@r.Booking?.CheckoutDate.ToString("dd.MM.yyyy")</td>
                    <td>
                        <a asp-controller="Booking" asp-action="View" asp-route-id=@r.Booking?.Id target="_blank">@r.Booking?.Id</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No active reservations.</p>
}