@using HotelWebDemo.Models.Database

@model Room

@{
    Layout = "_FieldsetLayout";
    ViewData["Legend"] = "Active reservations";

    List<RoomReservation> activeReservations = ViewData["ActiveReservations"] as List<RoomReservation> ?? new();
}

@if (activeReservations.Any())
{
    <table class="table table-stripped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Check-in date</th>
                <th>Check-out date</th>
                <th>Booking#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (RoomReservation r in activeReservations)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Booking?.CheckinDate.ToString("dd.MM.yyyy")</td>
                    <td>@r.Booking?.CheckoutDate.ToString("dd.MM.yyyy")</td>
                    <td><a asp-controller="Booking" asp-action="View" asp-route-id=@r.Booking?.Id>@r.Booking?.Id</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No active reservations.</p>
}