@using HotelWebDemo.Models.Components.Admin.Pages
@using HotelWebDemo.Models.Components.Common
@using HotelWebDemo.Models.Database

@model Room

@{
    Layout = "_AdminPageLayout";
    bool isCreate = Model.Id == 0;

    ViewData["PageHeading"] = isCreate ? "New Room" : $"Room: {Model.Number}";
}

<form asp-action="Upsert">
    @if (!isCreate)
    {
        <input type="hidden" asp-for=@Model.Id />
    }

    <partial name="_UpsertFieldset" model="@Model" />

    <button type="submit" class="btn btn-lg btn-primary mt-4 px-5 py-3 fw-bold">Save</button>
</form>