@using HotelWebDemo.Models.Database
@using HotelWebDemo.Models.ViewModels

@model BookingViewModel

@{
    Layout = "_FieldsetLayout";
    ViewData["Legend"] = "Choose hotel";

    List<Hotel> hotels = ViewData["Hotels"] as List<Hotel> ?? new();
    List<RoomCategory> roomCategories = ViewData["RoomCategories"] as List<RoomCategory> ?? new();
    int? fixedHotelId = ViewData["FixedHotelId"] as int?;
}

<div class="row mb-4 field-hotel">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.Hotel></label>
    </div>
    <div class="col-12 col-lg-8">
        <select asp-for=@Model.HotelId
                class="form-select d-block w-100"
                disabled=@(fixedHotelId != null)
                asp-items="new SelectList(
                                hotels,
                                nameof(Hotel.Id),
                                nameof(Hotel.Name))">
            <option value="0">-- Please select --</option>
        </select>
        <span asp-validation-for=@Model.Hotel class="text-danger"></span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.CheckInDate></label>
    </div>
    <div class="col-12 col-lg-8">
        <input asp-for=@Model.CheckInDate class="form-control d-block w-100" />
        <span asp-validation-for=@Model.CheckInDate class="text-danger"></span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.CheckOutDate></label>
    </div>
    <div class="col-12 col-lg-8">
        <input asp-for=@Model.CheckOutDate class="form-control d-block w-100" />
        <span asp-validation-for=@Model.CheckOutDate class="text-danger"></span>
    </div>
</div>

<button asp-action="ChooseHotel" type="submit" class="btn btn-lg btn-primary mt-4 px-5 py-3 fw-bold">Proceed</button>