@using HotelWebDemo.Models.ViewModels

@model BookingViewModel

@{
    Layout = "_FieldsetLayout";
    ViewData["Legend"] = "Booking summary";
}

<partial name="_ViewBooking" model="@Model" />

<fieldset>
    <div class="row mb-4">
        <div class="col-12 col-lg-4">
            <label asp-for=@Model.HasCustomGrandTotal></label>
        </div>
        <div class="col-12 col-lg-8">
            <div class="form-check form-switch">
                <input asp-for=@Model.HasCustomGrandTotal class="form-check-input" />
                <span asp-validation-for=@Model.HasCustomGrandTotal class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-lg-4">
            <label asp-for=@Model.CustomGrandTotal></label>
        </div>
        <div class="col-12 col-lg-8">
            <input asp-for=@Model.CustomGrandTotal class="form-control d-block w-100" disabled="@Model.HasCustomGrandTotal" />
            <span asp-validation-for=@Model.CustomGrandTotal class="text-danger"></span>
        </div>
    </div>
</fieldset>

<button asp-action="Create" formmethod="post" type="submit" class="btn btn-lg btn-primary mt-4 px-5 py-3 fw-bold">Submit Reservation</button>