@using HotelWebDemo.Models.ViewModels
@using HotelWebDemo.Models.Database

@model BookingViewModel

@{
    Layout = "_AdminPageLayout";
    ViewData["PageHeading"] = $"Booking #{Model.Id}";
}

<p>
    Status: <strong class="text-@Model.GetStatusColorAsString()">@Model.Status</strong>
</p>

@if (DateTime.UtcNow >= Model.CheckInDate && DateTime.UtcNow < Model.CheckOutDate)
{
    <partial name="_CheckinFieldset" model="@Model" />
}

<partial name="_ViewBookingFieldset" model="@Model" />

<partial name="_Timeline" model="@Model" />