<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("ScriptsHead", required: false)
</head>
<body>
    <header>
        @await RenderSectionAsync("Header", required: false)
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        @await RenderSectionAsync("Footer", required: false)
    </footer>

    <div class="modals-wrapper">
        @await RenderSectionAsync("Modals", required: false)
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        @await RenderSectionAsync("Toasts", required: false)
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
