@using HotelWebDemo.Models.Components.Admin.Tables

@model TableLink

@{
}

<a asp-all-route-data=@Model.GetListingModel().GenerateListingQuery()
   asp-action=@Model.ActionName
   title="@Model.Content"
   class="@Model.Class"
   disabled="@Model.Disabled">
    @Model.Content
</a>