@using HotelWebDemo.Models.Components.Admin.Tables
@using HotelWebDemo.Models.ViewModels

@model ListingModel

@{
}

<div class="search-bar-wrapper float-start">
    @if (Model.OrderBy != ListingModel.DEFAULT_ORDER_BY)
    {
        <input type="hidden" name="OrderBy" value="@Model.OrderBy" />
    }
    <div class="input-group mb-3" data-filter="SearchPhrase">
        <input type="search" class="form-control form-control-sm filter-value" asp-for="@Model.SearchPhrase" placeholder="Search..." />
        <button class="btn btn-sm btn-secondary" type="submit" id="search-button" disabled="@(string.IsNullOrEmpty(Model.SearchPhrase))">
            <i class="bi bi-search me-1"></i>Search
        </button>
    </div>
</div>