@using HotelWebDemo.Models.Mailing

@model ResetPasswordEmailModel

@{
    Layout = "_EmailTemplate";
    ViewData["Title"] = "Password Reset";
}

<div>
    <h1>Password reset request</h1>

    <p>A password reset has been requested for your account. If this was not you, ignore this message.</p>

    <p><a href="@Model.ResetPasswordUrl">Click here</a> to reset your password.</p>
</div>