@using HotelWebDemo.Models.Database
@using HotelWebDemo.Models.ViewModels

@model CustomerViewModel

@{
    Layout = "_FieldsetLayout";
    ViewData["Legend"] = "Address";

    List<Country> countries = ViewData["Countries"] as List<Country> ?? new();
}

<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.StreetLine1></label>
    </div>
    <div class="col-12 col-lg-8">
        <input asp-for=@Model.StreetLine1 class="form-control d-block w-100" />
        <span asp-validation-for=@Model.StreetLine1 class="text-danger"></span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.StreetLine2></label>
    </div>
    <div class="col-12 col-lg-8">
        <input asp-for=@Model.StreetLine2 class="form-control d-block w-100" />
        <span asp-validation-for=@Model.StreetLine2 class="text-danger"></span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.StreetLine3></label>
    </div>
    <div class="col-12 col-lg-8">
        <input asp-for=@Model.StreetLine3 class="form-control d-block w-100" />
        <span asp-validation-for=@Model.StreetLine3 class="text-danger"></span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.Country></label>
    </div>
    <div class="col-12 col-lg-8">
        <select asp-for=@Model.CountryId
                class="form-select d-block w-100"
                asp-items="new SelectList(
                                countries ?? new List<Country>(),
                                nameof(Country.Id),
                                nameof(Country.Name))">
            <option value="0">-- Please select --</option>
        </select>
        <span asp-validation-for=@Model.Country class="text-danger"></span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.City></label>
    </div>
    <div class="col-12 col-lg-8">
        <input asp-for=@Model.City class="form-control d-block w-100" />
        <span asp-validation-for=@Model.City class="text-danger"></span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.PostalCode></label>
    </div>
    <div class="col-12 col-lg-8">
        <input asp-for=@Model.PostalCode class="form-control d-block w-100" />
        <span asp-validation-for=@Model.PostalCode class="text-danger"></span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.Phone></label>
    </div>
    <div class="col-12 col-lg-8">
        <input asp-for=@Model.Phone class="form-control d-block w-100" />
        <span asp-validation-for=@Model.Phone class="text-danger"></span>
    </div>
</div>
