@using HotelWebDemo.Models.Database

@model Customer

@{
    Layout = "_FieldsetLayout";
    ViewData["Legend"] = "Identification";

    List<Country> countries = ViewData["Countries"] as List<Country> ?? new();
}

<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.CustomerIdentity.NationalId></label>
    </div>
    <div class="col-12 col-lg-8">
        <input asp-for=@Model.CustomerIdentity.NationalId class="form-control d-block w-100" />
        <span asp-validation-for=@Model.CustomerIdentity.NationalId class="text-danger"></span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.CustomerIdentity.PassportId></label>
    </div>
    <div class="col-12 col-lg-8">
        <input asp-for=@Model.CustomerIdentity.PassportId class="form-control d-block w-100" />
        <span asp-validation-for=@Model.CustomerIdentity.PassportId class="text-danger"></span>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-lg-4">
        <label asp-for=@Model.CustomerIdentity.Citizenship></label>
    </div>
    <div class="col-12 col-lg-8">
        <select asp-for=@Model.CustomerIdentity.CitizenshipId
                class="form-select d-block w-100"
                asp-items="new SelectList(
                                countries ?? new List<Country>(),
                                nameof(Country.Id),
                                nameof(Country.Name))">
            <option value="0">-- Please select --</option>
        </select>
        <span asp-validation-for=@Model.CustomerIdentity.Citizenship class="text-danger"></span>
    </div>
</div>
