@using HotelWebDemo.Models.Components
@using HotelWebDemo.Models.Database
@using HotelWebDemo.Models.ViewModels

@model PaginatedList<Customer>

@{
    ViewData["Title"] = "All Customers";
    var totalPages = ViewData["TotalPages"] as int?;
    TableContext tableContext = new("Index", ViewData);

    Table table = new Table<Customer>(tableContext, items: Model)
        .OverrideColumnName(nameof(Customer.CreatedAt), "Registration date")
        .SetOrderable(true)
        .SetFilterable(true)
        .AddRowActions("Customer", options => options.IncludesDelete(false))
        .AddPagination(Model);
}

<section>
    <h1 class="mt-4 mb-5">All customers</h1>
    <partial name="_Table" model="@table" />
</section>