@using HotelWebDemo.Models.Components
@using HotelWebDemo.Models.Database
@using HotelWebDemo.Models.ViewModels

@model PaginatedList<Customer>

@{
    ViewData["Title"] = "All Customers";
    var totalPages = ViewData["TotalPages"] as int?;
    TableContext tableContext = new("Index", ViewData);

    Table table = new Table<Customer>(tableContext, "Customer", items: Model)
        .AddCellData(nameof(Customer.Id), c => c.Id)
        .AddCellData(nameof(Customer.FirstName), c => c.FirstName)
        .AddCellData(nameof(Customer.MiddleName), c => c.MiddleName)
        .AddCellData(nameof(Customer.LastName), c => c.LastName)
        .AddCellData(nameof(Customer.CreatedAt), c => c.CreatedAt)
        .AddCellData(nameof(Customer.UpdatedAt), c => c.UpdatedAt)
        .AddRowActions(options => options.SetDeleteConfirmationMessage<Customer>(customer => $"Are you sure you want to delete customer {customer.FullName}?"))
        .AddPagination(Model);
}

<section>
    <h1 class="mt-4 mb-5">All customers</h1>
    <partial name="_Table" model="@table" />
</section>