@using HotelWebDemo.Models.Components.Admin.Pages
@using HotelWebDemo.Models.Components.Common
@using HotelWebDemo.Models.Database
@using HotelWebDemo.Models.ViewModels

@model CustomerViewModel

@{
    Layout = "_AdminPageLayout";
    bool isCreate = Model.Id == 0;
    string action = isCreate ? "Create" : "Update";
    ViewData["PageHeading"] = isCreate ? "New Customer" : $"Customer: {Model.FirstName} {Model.LastName}";
}

<form asp-action="@action">
    @if (!isCreate)
    {
        <input type="hidden" asp-for=@Model.Id />
    }

    <partial name="_GeneralFieldset" model="@Model" />
    <partial name="_IdentityFieldset" model="@Model" />
    <partial name="_AddressFieldset" model="@Model" />

    <button type="submit" class="btn btn-lg btn-primary mt-4 px-5 py-3 fw-bold">Save</button>
</form>