@using HotelWebDemo.Models.Components.Admin.Pages
@using HotelWebDemo.Models.Components.Common
@using HotelWebDemo.Models.Database

@model Customer

@{
    Layout = "_AdminPageLayout";
    bool isCreate = Model.Id == 0;

    List<PageActionButton> actions = (ViewData["PageActions"] as List<PageActionButton>) ?? new();

    if (!isCreate)
    {
        actions.Add(new()
        {
            Content = "Reset password",
            Controller = "Customer",
            Action = "ResetPassword",
            Color = ColorClass.Warning,
            RequestParameters = new()
            {
                { "Id", Model.Id }
            }
        });
    }

    ViewData["PageActions"] = actions;
    ViewData["PageHeading"] = isCreate ? "New Customer" : $"Customer: {Model.FullName}";
}

<form asp-action="Upsert">
    @if (!isCreate)
    {
        <input type="hidden" asp-for=@Model.Id />
    }

    <partial name="_GeneralFieldset" model="@Model" />
    <partial name="_IdentityFieldset" model="@Model" />
    <partial name="_AddressFieldset" model="@Model" />

    <button type="submit" class="btn btn-lg btn-primary mt-4 px-5 py-3 fw-bold">Save</button>
</form>