@using HotelWebDemo.Models.ViewModels

@model ResetPasswordModel

@{
}

<form asp-action="ResetPassword">
    <div class="alert alert-danger">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <input type="hidden" asp-for="@Model.UserId" />
    <input type="hidden" asp-for="@Model.Token" />
    <div class="input-group mb-3">
        <label asp-for=@Model.Password></label>
        <input asp-for=@Model.Password class="form-control d-block w-100" />
        <span asp-validation-for=@Model.Password class="text-danger"></span>
    </div>
    <div class="input-group mb-3">
        <label asp-for=@Model.ConfirmPassword></label>
        <input asp-for=@Model.ConfirmPassword class="form-control d-block w-100" />
        <span asp-validation-for=@Model.ConfirmPassword class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary p-2">Reset password</button>
</form>