.colon-after:after {
    content: ':';
}

.currency-dollar:before {
    content: '$ ';
}

.totals table {
    td + td {
        text-align: right;

        & > span {
            width: 100%;
        }
    }
}

table.view-booking-table {
    tr td:first-child {
        min-width: 400px;
    }
}